header, nav, main {
    min-width: 1024px;
    max-width: 1200px;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
}

/* NAVIGATION STUFF GOES HERE  */
nav ul li a {
    padding: .5rem $gutter;
    font-size: .9rem;
}